<?php

$bannermanager = $block->getActiveBanners();

?>

<article id="slider">
    <div id=slides>
        <div id=overflow>
            <div class=inner>
                <?php  foreach($bannermanager as $index => $banner):  ?>
                    <article>
                        <?php if($banner->getUrl() != ''): ?><a href="<?php echo $banner->getUrl() ?>" target="_blank"><?php endif; ?>
                            <img src=<?php echo $block->get ?> />
                            <?php if($banner->getUrl() != ''): ?></a><?php endif; ?>
                    </article>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <div id=active>
        <?php $i=1; foreach($bannermanager as $index => $banner):  ?>
            <label for=<?php echo 'slide'. $i ?>></label>
            <?php $i++;  endforeach;   ?>
    </div>
</article>

<style type="text/css">
    input[type=radio] {
        display: none;
    }
</style>
